<div class="row">
  <div class="col-md-6">
    <div style="padding: 10px 5px 40px 5px">
      <div class="row">
        <div class="col-md-12">
          <h1 class="header-parameter" style="margin: 0 0 5px 0; font-size: 28px;color:blue;">
            <i class="fas fa-user" aria-hidden="true"></i> Lista Azul
          </h1>
        </div>
      </div>

      <div class="panel panel-primary" id="a">
        <div class="panel-body">
          <%= form_for_filterrific @filterrific_blue, url: list_blue_presencas_path do |f| %>
                <%= f.text_field(
                        :search_query,
                        class: 'filterrific-periodically-observed form-control',
                        placeholder:'Buscar pelo nome ou numero do paciente',
                        style: 'text-transform: uppercase',
                        id:'field_blue'
                    ) %>
          <% end %>
          <div id="filterrific_results_blue">
            <%= render partial: 'list', locals:{presencas: @blue} %>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="col-md-6">
    <div style="padding: 10px 5px 40px 5px">
      <div class="row">
        <div class="col-md-12">
          <h1 class="header-parameter" style="margin: 0 0 5px 0; font-size: 28px; color:red;">
            <i class="fas fa-user" aria-hidden="true"></i> Lista Vermelha
          </h1>
        </div>
      </div>

      <div class="panel panel-primary" id="a">
        <div class="panel-body">
          <%= form_for_filterrific @filterrific_red,url: list_red_presencas_path do |f| %>
                <%= f.text_field(
                        :search_query,
                        class: 'filterrific-periodically-observed form-control',
                        placeholder:'Buscar pelo nome do paciente',
                        style: 'text-transform: uppercase',
                        id:'field_red'
                    ) %>
          <% end %>
          <div id="filterrific_results_red">
            <%= render partial: 'list', locals:{presencas: @red} %>
          </div>
        </div>
      </div>

    </div>

  </div>


</div>