<p id="notice"><%= notice %></p>

<p>
  <strong>Paciente:</strong>
  <%= @presenca.paciente %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @presenca.senha %>
</p>

<%= link_to 'Edit', edit_presenca_path(@presenca) %> |
<%= link_to 'Back', presencas_path %>
